registry=https://ppmtfs.intergraph.com/tfs/InnerSource/_packaging/PPM/npm/registry
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 2/21/2018.
; begin auth token
//ppmtfs.intergraph.com/tfs/InnerSource/_packaging/PPM/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IklrUm9VNG1BMnFfOUgtT1lqZnFOR21sRUxjQSJ9.eyJuYW1laWQiOiJkNjI2OTY0Ny0zMDAxLTQwZTItYTc4Ni1lYmI3ZDg4ZDJhYzMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTNkMGM2MmEtYTRkNy00OGM2LWJmNTEtNTk1Mjk3ZTQwZTI3Iiwic2lkIjoiMGEzZTA2YmMtZWYyMy00MzI4LWJjZmYtZDRlNDNiYTU3OTg2IiwiaXNzIjoicHBtdGZzLmludGVyZ3JhcGguY29tIiwiYXVkIjoicHBtdGZzLmludGVyZ3JhcGguY29tIiwibmJmIjoxNTExNDM2OTcwLCJleHAiOjE1MTkyMTI5NzB9.afo10zR9AJSPYzgl05V4W0Lef6QJ3T3vX-C8QeiEEed79itBOVUVB981Bu6LhN92YiotT26CJ11lcLrwOwJ-qFQ8g49ZnokKKY-CN2JQUVmbI_2XxiZ5bGgfOig-Al3JD0kzk6gXWuTf7rsNpz6PxzvE1xUgomDVjnYqZErfxSzPoIEg5vXbtgd7rzt_TQOOOuGZfyZjS0LMTwmtyXlLBAVW_B9YgitpQhF5-xDbySOTVz-uulMffxP_tYkedHCN9-aX0EL_BZjhoapMNwQ7wu_IPgG0t3fms-dVRtUZZWTMN6Qka2gxXlKO4Em4pcsgOc3zweYUW6zhTIopSu4-Tg
//ppmtfs.intergraph.com/tfs/InnerSource/_packaging/PPM/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IklrUm9VNG1BMnFfOUgtT1lqZnFOR21sRUxjQSJ9.eyJuYW1laWQiOiJkNjI2OTY0Ny0zMDAxLTQwZTItYTc4Ni1lYmI3ZDg4ZDJhYzMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTNkMGM2MmEtYTRkNy00OGM2LWJmNTEtNTk1Mjk3ZTQwZTI3Iiwic2lkIjoiMGEzZTA2YmMtZWYyMy00MzI4LWJjZmYtZDRlNDNiYTU3OTg2IiwiaXNzIjoicHBtdGZzLmludGVyZ3JhcGguY29tIiwiYXVkIjoicHBtdGZzLmludGVyZ3JhcGguY29tIiwibmJmIjoxNTExNDM2OTcwLCJleHAiOjE1MTkyMTI5NzB9.afo10zR9AJSPYzgl05V4W0Lef6QJ3T3vX-C8QeiEEed79itBOVUVB981Bu6LhN92YiotT26CJ11lcLrwOwJ-qFQ8g49ZnokKKY-CN2JQUVmbI_2XxiZ5bGgfOig-Al3JD0kzk6gXWuTf7rsNpz6PxzvE1xUgomDVjnYqZErfxSzPoIEg5vXbtgd7rzt_TQOOOuGZfyZjS0LMTwmtyXlLBAVW_B9YgitpQhF5-xDbySOTVz-uulMffxP_tYkedHCN9-aX0EL_BZjhoapMNwQ7wu_IPgG0t3fms-dVRtUZZWTMN6Qka2gxXlKO4Em4pcsgOc3zweYUW6zhTIopSu4-Tg
; end auth token
